torch
transformers==4.30.2
accelerate==0.21.0
sentence-transformers==2.2.2
huggingface_hub==0.16.4
faiss-gpu-cu12
datasets==2.14.7
scipy
numpy
scikit-learn
pandas
tqdm
gdown
tiktoken
nltk
matplotlib
seaborn
ipykernel
ipywidgets
evaluate==0.4.1
pyyaml
